<!DOCTYPE html>
<html ng-app='store'>

<head>
    <meta charset="utf-8" />
    <title>Training - AngularJS</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div ng-controller="StoreController as store">
        <!--  Store Header  -->
        <header>
            <h1 class="text-center">Flatlander Crafted Gems</h1>
            <h2 class="text-center">– an Angular store –</h2>
        </header>

        <!-- Products Container -->
        <div class="list-group">

            <!-- Product list -->
            <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">

                <!-- Name and Price -->
                <product-title></product-title>

                <!-- Image Gallery  -->
                <div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
                    <div class="img-wrap">
                        <img ng-src="{{ product.images[gallery.imageIndex] }}" class="img-thumbnail center-block" />
                    </div>
                    <ul class="img-thumbnails clearfix">
                        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="gallery.currentImageChange($index)">
                            <img ng-src="{{image}}" />
                        </li>
                    </ul>
                </div>

                <!-- Tabs Container -->
                <product-panels></product-panels>

            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>

</body>

</html>
